/* CSS: Cascading Style Sheets */
#header {
  width: 1000px;
  height: 100px;
  border-style: ridge;
  border-width: 5px;
  border-color: red;
  border-radius: 20px;
}

#article {
  width: 1000px;
  border: dotted 1px blue;
  border-radius: 20px;
  border-style: ridge;

}

#porkpancit {
  display: block;
}

#porkpancit iframe {
  width: 1000px;
  height: 500px;
}

body {
  background-color: #FFF633;
}


#footer {
  width: 800px;
  height: auto;
  border: double 10px green;
}
